* {
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 400;
  color: var(--hint-of-red);
}

:root {
  --gondola: #090606;
  --cod-gray: #0e0d0d;
  --hint-of-red: #f5f0f1;
  --radical-red: #ff3f58;
  --mine-shaft: #3c3939;
}

body {
  background-color: var(--gondola);
  width: 100vw;
  height: 1024px;
}

.main {
  display: flex;
  height: 100%;
}

.left-sidebar {
  width: 220px;
  background-color: var(--cod-gray);
  padding: 0 46px;
  height: 100%;
}

.logo {
  padding-top: 20px;
}

.left-sidebar-links {
  margin-top: 120px;
}

.active{
  background: var(--radical-red);
  border-radius: 5px;
}

.left-sidebar-links ul {
  padding: 0;
  list-style: none;
}

.left-sidebar-links li {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  margin-top: 10px;
}

.left-sidebar-links li img {
  width: 16px;
}

.left-sidebar-links li a {
  margin-left: 8px;
  text-decoration: none;
  opacity: 0.7;
}

.left-sidebar-download {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.download-text {
  text-align: center;
  margin-top: 22px;
  max-width: 156px;
  opacity: 0.7;
}

.download-text {
  opacity: 1;
}

.hero {
  width: 100%;
}

.header {
  padding: 17px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name {
  display: flex;
  align-items: center;
}

.header-name p {
  margin-left: 16px;
}

.header-right-section {
  display: flex;
  align-items: center;
}

.input-search {
  padding: 10px 16px;
  font-size: 12px;
  width: 260px;
  margin-right: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}

.content {
  display: flex;
  padding: 25px 40px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.content-cards {
  display: flex;
}

.content-card {
  width: 270px;
  background: var(--cod-gray);
  padding: 20px;
  border-radius: 10px;
  margin-right: 26px;
}

.contant-card:last-child {
  margin-right: 0;
}

.card-top {
  display: flex;
  align-items: center;
}

.card-text {
  margin-left: 16px;
}

.card-title {
  opacity: 0.7;
}

.card-subtitle {
  margin-top: 8px;
  font-weight: 500;
  font-size: 20px;
}

.card-bottom {
  margin-top: 30px;
  opacity: 0.7;
}

.card-bottom-text {
}

.progress-wrapper {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.progress-wrapper p {
  margin-left: 16px;
}

.progress {
  position: relative;
  height: 6px;
  width: 200px;
  background: var(--mine-shaft);
  border-radius: 15px;
}

.progress .progress-student {
  position: absolute;
  background-color: var(--radical-red);
  width: 80%;
  height: 6px;
  border-radius: 15px;
  animation: student-bar 4s 1;
}

@keyframes student-bar {
  0% {
    width: 0%;
  }

  25% {
    width: 20%;
  }

  50% {
    width: 40%;
  }

  75% {
    width: 60%;
  }

  100% {
    width: 80%;
  }
}

.progress .progress-activate {
  position: absolute;
  background-color: var(--radical-red);
  width: 60%;
  height: 6px;
  border-radius: 15px;
  animation: activate-bar 4s 1;
}

@keyframes activate-bar {
  0% {
    width: 0%;
  }

  25% {
    width: 15%;
  }

  50% {
    width: 30%;
  }

  75% {
    width: 45%;
  }

  100% {
    width: 60%;
  }
}

.progress .progress-learning {
  position: absolute;
  background-color: var(--radical-red);
  width: 95%;
  height: 6px;
  border-radius: 15px;
  animation: learning-bar 4s 1;
}

@keyframes learning-bar {
  0% {
    width: 0%;
  }

  25% {
    width: 30%;
  }

  50% {
    width: 60%;
  }

  75% {
    width: 80%;
  }

  100% {
    width: 95%;
  }
} ;
